@{
    ViewBag.Title = "Cốc nguyệt san Si-bell nhập khẩu từ Pháp";
}


<div class="container-fluid banner">
    <div class="container">
        <p class="txt1"><span>Si-bell</span> mang lại sự <span>thoải mái tự tin cho phụ nữ</span> trong những ngày <span>“ĐÈN ĐỎ”</span></p>
        <div class="txt2">
            <p>KHUYẾN MÃI TRONG THÁNG…</p>
        </div>
        <p class="txt3"><span>COMBO SI-BELL + CỐC TIỆT TRÙNG</span></p>
        <p class="txt4">900K</p>
        <div class="price">
            <p>CHỈ CÒN</p>
            <p class="txt5">750k</p>
        </div>
        <button type="button" onclick="ShowModal();">ĐĂNG KÍ NGAY</button>
        <p>*Giới hạn 100 người đăng kí đầu tiên.</p>
        <div class="scroll visible-lg">
            <p>kéo xuống</p>
            <img src="/img/coc-nguyet-san-scroll.svg">
        </div>
    </div>
</div>

<div class="container diem-manh">
    <div class="row">
        <div class="col-sm-6">
            <div class="ul-block">
                <div class="ul-inner">
                    <ul>
                        <li>Cảm giác “không có gì” quên mất “đèn đỏ” là ưu điểm vượt trội nhất của Si-bell</li>
                        <li>Chạy, nhảy, bơi lội,... và ngủ ngon giấc mà không lo “TRÀN” hay “XÔ LỆCH”</li>
                        <li>Giữ cân bằng độ PH trong “cô bé”, không làm mất các vi khuẩn có lợi</li>
                        <li>Thoải mái hoạt động thời trong thời gian dài (tới 12h)</li>
                        <li>Tiết kiệm gấp 8-10 lần chi phí so với sử dụng bvs</li>
                        <li>Tiện lợi, vệ sinh dễ dàng, an toàn cho sức khỏe, bảo vệ môi trường</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe width="100%" height="310" src="https://www.youtube.com/embed/f0lwo-hxV3A" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="container-fluid uu-diem">
    <div class="container">
        <img src="/img/coc-nguyet-san.png">
        <p class="txt6">Những ưu điểm vượt trội của <span>Si-bell</span></p>
        <p><span class="txt7">Si-bell</span> là cốc nguyệt san <span class="txt7">khắc phục được mọi nhược điểm</span> của các thương hiệu khác.</p>
        <img src="/img/uu-diem-coc-kinh-nguyet.png" class="img-responsive hidden-xs">
        <img src="/img/uu-diem-coc-kinh-nguyet-xs.png" class="img-responsive visible-xs">
    </div>
</div>

<div class="container-fluid thong-tin">
    <div class="container">
        <img src="/img/coc-nguyet-san.png">
        <p class="txt6"><span>THÔNG TIN</span> SẢN PHẨM</p>
        <div class="inner">
            <div class="c-3">
                <img src="/img/thong-tin-coc-nguyet-san.png" class="img-responsive">
            </div>
            <div class="c-3">
                <p>
                    <span class="txt7">Tên sản phẩm</span><br>
                    Cốc nguyệt san Si-bell.<br>
                    <span class="txt7">Xuất xứ</span><br>
                    Cộng Hòa Pháp<br>
                    <span class="txt7">Chất liệu</span><br>
                    Silicon y tế do công ty Si-line Sterne chuyên về lĩnh vực Silicon y tế nghiên cứu và sản xuất.<br>
                    <span class="txt7">Màu sắc</span><br>
                    Hồng phấn<br>
                    <span class="txt7">Kích thước size L</span><br>
                    46*52mm<br>
                    Dung tích chứa size L = 30ml, cho những bạn đã sinh thường hoặc trên 30 tuổi<br>
                    <span class="txt7">Kích thước size S</span><br>
                    41*47mm<br>
                    Dung tích chứa size S = 20ml, cho những bạn chưa sinh hoặc sinh mổ dưới 30 tuổi<br>
                    <span class="txt7">Nhập khẩu và PP đôc quyền bởi</span><br>
                    Cty TNHH đầu tư & thương mại Tân Cường Thịnh.
                </p>
            </div>
        </div>
        <button type="button" class="" data-toggle="modal" data-target="#myModal">TƯ VẤN MIỄN PHÍ</button>
    </div>
</div>

<div class="container-fluid y-kien">
    <div class="container">
        <img src="/img/coc-nguyet-san.png">
        <p class="txt6"><span>FEEDBACK</span> CỦA KHÁCH HÀNG</p>
        <div class="row">
            <div id="y-kien" class="carousel slide hidden-xs" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb1.PNG" class="img-responsive">
                        </div>
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb2.PNG" class="img-responsive">
                        </div>
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb3.PNG" class="img-responsive">
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb4.PNG" class="img-responsive">
                        </div>
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb5.PNG" class="img-responsive">
                        </div>
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb6.PNG" class="img-responsive">
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#y-kien" data-slide="prev">
                    <img src="/img/coc-nguyet-san-prev.png">
                </a>
                <a class="right carousel-control" href="#y-kien" data-slide="next">
                    <img src="/img/coc-nguyet-san-next.png">
                </a>
            </div>

            <div id="y-kien-mobile" class="carousel slide visible-xs" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb1.PNG" class="img-responsive">
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb2.PNG" class="img-responsive">
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb3.PNG" class="img-responsive">
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb4.PNG" class="img-responsive">
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb5.PNG" class="img-responsive">
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-sm-4">
                            <img src="/img/coc-kinh-nguyet-fb6.PNG" class="img-responsive">
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#y-kien-mobile" data-slide="prev">
                    <img src="/img/coc-nguyet-san-prev.png">
                </a>
                <a class="right carousel-control" href="#y-kien-mobile" data-slide="next">
                    <img src="/img/coc-nguyet-san-next.png">
                </a>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid offer">
    <div class="inner">
        <div class="c-3 hidden-xs">
            <img src="/img/coc-tiet-trung.png" class="img-responsive">
        </div>
        <div class="c-3">
            <div class="txt2">
                <p>KHUYẾN MÃI TRONG THÁNG…</p>
            </div>
            <p class="txt3">TẶNG <span>CỐC TIỆT TRÙNG SIÊU XỊN</span></p>
            <p class="txt4"></p>
            <div class="price">
                <p class="txt8">TRỊ GIÁ <span>150K</span> KHI MUA <span>SI-BELL</span></p>
            </div>
            <img src="/img/coc-tiet-trung.png" class="img-responsive visible-xs coc-tiet-trung-xs">
            <p class="txt9">Số lượng cốc tiệt trùng được tặng còn <span>20</span> cốc</p>
            <p class="txt1"><span>MUA NGAY</span> >> HOTLINE <span>090 208 3098</span></p>
            <button type="button" onclick="ShowModal();">ĐĂNG KÍ NGAY</button>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="/img/close-coc-nguyet-san.png"></button>
            </div>
            <div class="modal-body">
                @Html.Action("_popup","Home",new { utm = ViewBag.utm })
            </div>
        </div>

    </div>
</div>