@font-face {
    font-family: UTMAvoItalic;
    src: url(/web/20220618063832im_/https://si-bell.vn/fonts/UTMAvoItalic.ttf);
}
@font-face {
    font-family: UTMAvoBoldItalic;
    src: url(/web/20220618063832im_/https://si-bell.vn/fonts/UTM_AvoBold_Italic.ttf);
}
.si-bell-la-gi {
  background-color: #fbf2f5;
  text-align: center;
  padding: 45px 0 0;
  line-height: 2;
}
.si-bell-la-gi img {
  max-width: 100%;
}
.txt4 {
  color: #fe9eb9;
  font-family: UTMAvo_Bold;
  font-size: 30px;
  margin: 0 0 20px;
}
.si-bell-la-gi-text {
  padding: 45px 0 0;
  margin: 0 0 50px;
}
.so-sanh-sibell-bvs {
	text-align: center;
	padding: 50px 0;
}
.cong-ty-siline {
	background: #fbf2f5 url('/web/20220618063832im_/https://si-bell.vn/img/cty-siline-bg.png') no-repeat;
	background-position: center;
	text-align: center;
	padding: 50px 0;
}
.gallery-img {
	width: 100%;
	height: 300px;
	border-radius: 20px;
}
.tz-gallery {
    padding: 40px 0 20px;
}
.tz-gallery .thumbnail {
    padding: 0;
    border-radius: 20px;
    border: none;
    transition: 0.15s ease-in-out;
}
.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}
.uu-diem-sibell {
	text-align: center;
	padding: 50px 0 40px;
}
.uu-diem-sibell img {
  max-width: 100%;
}
.ve-chung-toi {
	background-color: #fbf2f5;
  	text-align: center;
  	padding: 50px 0 0;
}
.ve-chung-toi .col-sm-6 {
	text-align: justify;
}
.txt5 {
	font-family: UTMAvo_Bold;
	font-size: 16px;
}
.caption {
	font-family: UTMAvoItalic;
	text-align: center;
}
.thumbnail a:hover {
	text-decoration: none;
}
.y-kien {
	text-align: center;
  	padding: 50px 0 0;
}
.hdsd {
  background-color: #fbf2f5;
    text-align: center;
    padding: 50px 0;
    background: #fbf2f5 url('/web/20220618063832im_/https://si-bell.vn/img/bg-coc-tiet-trung.png') no-repeat;
    background-size: cover;
    background-position: center;
}
#testimonialCarousel {
  margin: 30px 0 0;
}
.hdsd-img {
  background-color: white;
  border-radius: 20px;
  height: 100%;
}
.hdsd-img img {
  padding: 85px 0 0;
  max-width: 100%;
}
.hdsd iframe {
  border-radius: 20px;
}
.row-eq-height {
  display: flex; 
}
.hdsd-illustration {
  margin: 30px 0 0;
}
.coc-tiet-trung-km {
  border: 2px dashed #fe9eb9;
  padding: 30px;
  border-radius: 20px;
  float: left;
}
.coc-tiet-trung-km img {
  float: left;
}
.coc-tiet-trung-km-content {
  float: left;
  text-align: left;
  padding: 0 30px;
}
.txt6 {
  font-family: UTMAvo_Bold;
  font-size: 24px;
  margin: 0;
}
.coc-tiet-trung-km .txt4 {
  margin: 0 0 5px;
}
.coc-tiet-trung-km .btn {
  margin: 0;
  display: block;
  max-width: 150px;
  float: left;
  text-align: center;
}
.thac-mac {
  background: url('/web/20220618063832im_/https://si-bell.vn/img/thac-mac-sibell-bg.png') no-repeat;
  background-position: center;
  text-align: center;
  padding: 50px 0;
}
.thac-mac iframe {
  border-radius: 20px;
  margin: 10px 0 0;
  max-width: 100%;
}
.thong-tin {
  background-color: #fbf2f5;
    padding: 50px 0;
}
.chu-y {
  background-color: white;
  border-radius: 20px;
  float: left;
  padding: 50px 30px;
}
.chu-y img {
  max-width: 100%;
}
.chu-y ul {
  list-style: none;
  padding: 0;
}
.chu-y ul img {
  margin: 0 5px 0 0;
}
.chu-y ul li {
  margin: 15px 0;
}
.cach-thuc-mua {
  text-align: center;
  padding: 50px 0;
}
.txt7 {
  color: #fe9eb9;
  font-family: UTMAvo_Bold;
  font-size: 25px;
  margin: 0 0 20px;
}
.dk-nhan-coc {
    background-color: #fbf2f5;
    border-radius: 20px;
    padding: 45px 45px 20px 130px;
    position: relative;
    text-align: left;
}
.dk-img {
    position: absolute;
    left: -40px;
}
.cach-mua1 {
    position: absolute;
    top: 0;
    left: 0;
}
.tu-van-size {
    border: 2px dashed #fe9eb9;
    border-radius: 20px;
    padding: 45px 45px 0 45px;
    position: relative;
    height: 100%;
}
.dk-tu-van {
  margin: 30px 0 0;
}
.tu-van-img {
    position: absolute;
    bottom: 0;
    left: 23%;
}
.cach-mua2 {
    position: absolute;
    top: -2px;
    left: -2px;
}
.txt8 {
  color: #ed1c24;
  font-family: UTMAvo_Bold;
  font-size: 25px;
  margin: 0;
}
.txt9 {
  color: #fe9eb9;
  font-family: UTMAvo_Bold;
  font-size: 25px;
  margin: 0;
}
.thue-img {
  width: 100%;
  border-radius: 20px;
}
.ban-co-biet {
  background-color: #fbf2f5;
    padding: 50px 0;
    text-align: center;
}
.moi-truong {
  border-radius: 100px;
  width:128px;
  height: 128px;
  background: url('/web/20220618063832im_/https://si-bell.vn/img/coc-si-bell_03.png') no-repeat;
  background-position: center;
  text-align: center;
  float: left;
  margin: 0 15px 0 0;
}
.moi-truong-div {
    text-align: left;
    font-family: UTMAvoItalic;
    position: absolute;
    top: 70px;
    width: 60%;
    background: rgba(255, 255, 255, .9);
    border-radius: 20px;
    padding: 30px;
    border: 2px dashed #fe9eb9;
}
.ban-co-biet-div {
  position: relative;
}
.txt10 {
  color: #fe9eb9;
  font-size: 16px;
  font-family: UTMAvoBoldItalic;
}
.txt11 {
  color: #fe9eb9;
  font-size: 25px;
  font-family: UTMAvoBoldItalic;
}
.txt12 {
  font-size: 16px;
  font-family: UTMAvoBoldItalic;
}
.txt13 {
  font-size: 25px;
  font-family: UTMAvoBoldItalic;
}
.sibell-coc {
  background-color: white;
    float: left;
    border-radius: 20px;
    padding: 30px 30px 0;
    width: 100%;
    height: 100%;
}
.sibell-coc img {
  margin: 0 0 15px;
  max-width: 100%;
}
.sibell-coc a {
    position: absolute;
    bottom: 15px;
    left: 40%;
}
.dai-li {
  background-color: #fe9eb9;
    border-radius: 20px;
    padding: 30px 45px 0;
    color: white;
    position: relative;
}
.txt14 {
    font-family: UTMAvo_Bold;
    font-size: 25px;
}
.modal-btn {
    position: absolute;
    bottom: 15px;
    left: 33%;
}
.dai-li img {
}
.sibell-dai-li {
  margin: 45px 0 0;
}
.footer {
    background-color: #fe9eb9;
    color: white;
    text-align: center;
    padding: 25px 0 15px;
}
.coc-tiet-trung-km-div {
    width: 560px;
    margin: 30px auto;
    display: block;
}
.thong-tin-img {
  margin: 0 0 30px;
  max-width: 100%;
}
.thong-tin-txt {
  margin: 0 0 30px;
}
.radio-group {
  float: left;
    width: 100%;
    margin: 0 0 15px;
}
.radio-group .radio:first-child {
  margin: -5px 30px 0 0;
}
#consultModal a {
  color: white;
  text-decoration: underline;
}
#consultModal a:hover,
#consultModal a:focus {
  color: #555;
}
#consultModal .btn {
  margin: 15px 0 0;
}
.dai-li-img {
    position: absolute;
    bottom: 0;
    left: -25px;
}
.close img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
}
@media (max-width:1199px){
  .si-bell-la-gi-img img {
    position: absolute;
    bottom: 0;
    left: 10%;
  }
  .moi-truong-div {
    top: 30px;
  }
}
@media (max-width:992px){
  .so-sanh-sibell-bvs,
  .uu-diem-sibell,
  .thac-mac,
  .thong-tin,
  .cach-thuc-mua,
  .ban-co-biet {
    padding: 40px 0;
  }
  .ve-chung-toi,
  .y-kien {
    padding: 40px 0 0;
  }
  .cong-ty-siline {
    padding: 40px 0 15px;
  }
  .hdsd {
    padding: 40px 0 55px;
  }
  .chu-y {
    padding: 40px 30px;
  }
  .dai-li {
    padding: 15px 15px 0;
  }
  .so-sanh-sibell-bvs img {
    max-width: 100%;
  }
  .si-bell-la-gi-text {
    padding: 0;
  }
  .sibell-coc a {
    left: 35%;
  }
  .dai-li button {
    left: 28%;
  }
  .tz-gallery {
    padding: 10px 0 40px;
  }
  .tu-van-img {
    left: 10%;
  }
  .moi-truong-div {
    top: 0;
  }
}
@media (max-width:767px){
  .uu-diem {
      text-transform: uppercase;
      padding: 10px 0 30px;
  }
  .si-bell-la-gi {
    padding: 30px 0 0;
  }
  .row-eq-height {
    display: block;
  }
  .hdsd-img img {
    padding: 30px 0;
  }
  .hdsd-img {
    margin: 0 0 30px;
  }
  .dk-nhan-coc {
    margin: 0 0 30px;
    padding: 75px 15px 10px 15px;
  }
  .tu-van-img {
    position: relative;
    left: auto;
  }
  .sibell-coc {
    float: none;
    margin: 0 0 30px;
  }
  .sibell-coc a {
    position: relative;
    bottom: 0;
    left: auto;
  }
  .si-bell-la-gi-img img {
    position: relative;
    left: 0;
  }
  .si-bell-la-gi-text img {
    margin: 30px 0 0;
  }
  .gallery-img {
    height: 150px;
  }
  .moi-truong-div {
    width: 100%;
    position: relative;
    top: 0;
    float: left;
    margin: -30px 0 0;
  }
  .ban-co-biet-div .col-xs-9 {
    width: 100%;
  }
  .si-bell-la-gi-text {
    margin: 0;
  }
  #consultModal .col-xs-3,
  #consultModal .col-xs-9 {
    width: 100%;
  }
}
@media (max-width:600px){
  .coc-tiet-trung-km-div {
    width: 100%;
    padding: 0 15px;
  }
  .coc-tiet-trung-km {
    width: 100%;
  }
  .coc-tiet-trung-km img {
    width: 20%;
  }
  .coc-tiet-trung-km-content {
    width: 80%;
  }
}
@media (max-width:480px){
  .tz-gallery .col-xs-4 {
    width: 100%;
  }
  .cong-ty-siline .tz-gallery .col-xs-4 {
    margin: 0 0 30px;
  }
  .tz-gallery {
    padding: 0;
  }
  .ve-chung-toi {
    padding: 40px 0 20px;
  }
  .ve-chung-toi .gallery-container {
    margin: 30px 0 0;
  }
  .thong-tin .col-xs-3,
  .thong-tin .col-xs-9 {
    width: 100%;
  }
  .thong-tin .col-xs-3 {
    text-align: center;
  }
  .chu-y img {
    margin: 20px 0 0;
  }
  .si-bell-la-gi-text {
    margin: 0;
  }
  .gallery-img {
    height: 300px;
  }
}
/*
     FILE ARCHIVED ON 06:38:32 Jun 18, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:19:17 May 29, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.655
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 60.355
  LoadShardBlock: 248.059 (3)
  PetaboxLoader3.datanode: 212.138 (5)
  PetaboxLoader3.resolve: 202.887 (3)
  load_resource: 215.065 (2)
*/